body {
  background-image: url(mejasendok.jpg);
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.bodycontainer {
  width: 70%;
  height: 100%;
  margin-top: 0;
  margin: 0 auto;
}

.navbar {
  width: 80%;
  margin: 0 auto;
  height: 80px;
  background-color: rgb(255,69,0);
}

.navbar .logo {
  width: 200px;
  position: relative;
}

.navbar .logo img {
  padding-top: 20px;
  margin-left: -20px;
  height: 45px;
}

.logo ul li {
  display: inline-block;
}



.isinav {
  width: 80%;
  position: relative;
  height: 50px;
  margin-top: -70px;
  margin-left: 130px;
}

.isinav ul li {
  display: inline-block;
  margin-left: -5px;
}

.isinav button {
  background-color: rgb(255,69,0);
  font-family: sans-serif, Arial;
  font-size: 15px;
  color: black;
  border: none;
  width: 150px;
  height: 50px;
}

.isinav button:hover {
  background-color: rgb(255, 163, 102);
}

.masuk {
  position: relative;
  margin-left: 80.2%;
  margin-top: -50px;
  height: 50px;
  width: 100px;
}

.masuk button {
  background-color: rgb(255,69,0);
  font-family: sans-serif, Arial;
  font-size: 15px;
  color: black;
  border: none;
  width: 100px;
  height: 50px;
}

.masuk button:hover {
  background-color: rgb(255, 163, 102);
}

.daftar {
  position: relative;
  margin-left: 90.2%;
  margin-top: -50px;
  height: 50px;
  width: 100px;
}

.daftar button {
  background-color: rgb(255,69,0);
  font-family: sans-serif, Arial;
  font-size: 15px;
  color: black;
  border: none;
  width: 100px;
  height: 50px;
}

.daftar button:hover {
  background-color: rgb(255, 163, 102);
}





.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  margin-top: -20px;
  background-color: rgba(255,140,0,0.8);
}

.container h1 {
  padding-top: 20px;
  font-family: sans serif;
  font-size: 50px;
  text-shadow: 5px 5px 10px white;
}

.container .logoabout {
  width: 300px;
  padding-left: 10px;
  margin: 0 auto;
}

.container .logoabout img {
  height: 100px;
}

.container .penjelasan {
  background-color: orange;
  border-radius: 50px;
  width: 50%;
  margin: 0 auto;
  padding: 30px;
  font-size: 20px;
  text-align: justify;
  box-shadow: 5px 5px 200px yellow;
}

#team {
  padding-top: 100px;
}

.ardi {
  width: 400px;
  border-right: 2px solid white;
  margin-left: 100px;
}

.ardiimg {
  width: 200px;
  margin: 0 auto;
}

.ardi img {
  width: 200px;
  border-radius: 100%;
  border: 4px solid white;
  box-shadow: 5px 5px 100px white;
}

.defardi {
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
}

.sabaq {
  float: right;
  margin-right: 100px;
  margin-top: -410px;
  width: 400px;
}

.sabaqimg {
  width: 200px;
  margin: 0 auto;
}

.sabaq img {
  width: 200px;
  border-radius: 100%;
  border: 4px solid white;
  box-shadow: 5px 5px 100px white;
}

.defsabaq {
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
}





.bawah {
  width: 100%;
  padding-top: 50px;
}

.bawah img {
  width: 100%;
}



.footer {
  padding-top: 20px;
  width: 80%;
  margin: 0 auto;
}

.logocr img {
  float: left;
  width: 40px;
  padding-top: 5px;
}

.copyright {
  width: 100%;
  height: 50px;
  background-color: grey;
}

.textcopy {
  width: 400px;
  margin-left: 50px;
  padding-top: 15px;
}

.about {
  position: relative;
  height: 50px;
  width: 100px;
  float: right;
  margin-top: -34px;
  margin-right: 10px;
}

.about button {
  height: 100%;
  width: 100%;
  border: none;
  background-color: grey;
  color: white;
  font-size: 15px;
  font-family: sans-serif, Arial;
}

.about button:hover {
  background-color: rgb(255, 163, 102);
  color: black;
}