body {
  background-image: url(mejasendok.jpg);
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: white;
}

.bodycontainer {
  width: 70%;
  height: 100%;
  margin-top: 0;
  margin: 0 auto;
}

.navbar {
  width: 100%;
  height: 80px;
  background-color: rgba(255,69,0,0.8);
}

.navbar .logo {
  position: relative;
  width: 25%;
  margin: 0px;
}

.navbar .logo img {
  padding-top: 10px;
  margin-left: -20px;
  height: 60px; 
}

.logo ul li {
  display: inline-block;
}

.isinav {
  position: relative;
  height: 75px;
  width: 69%;
  margin-top: -91px;
  margin-left: 225px;
}

.isinav ul li {
  display: inline-block;
  margin-right: 53px;
  padding-top: 30px;
  margin-left: -35px; 
  height: 75px;
}

.isinav li a:hover {
  color: black;
}

.masuk {
  position: relative;
  height: 75px;
  width: 9%;
  margin-left: 91%; 
  margin-top: -91px;
}

.masuk ul li {
  display: inline-block;
  float: right;
  padding-top: 30px;
  margin-right: 20px;
}

.masuk li a:hover{
  color: black;
}

.container {
  background-color: orange;
}

.container h2 {
  margin-left: 3%;
  padding-top: 20px;
}

#date {
  margin-left: 3%;
  font-size: 100%;
}

.serai {
  width: 500px;
  margin: 0 auto;
}

.content {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.content p {
  text-indent: 0.5in;
  text-align: justify;
}

.content ol p {
  text-indent: 0.5in;
  text-align: justify;
}

.komen {
  width: 100%;
  background-color: rgb(255, 173, 51);
}

.komen form {
  margin-left: 5%;
}

.komen input {
  width: 49.5%;
}

.komen textarea {
  width: 50%;
  font-size: 15px;
  font-family: serif;
  padding-left: 10px;
  padding-top: 10px;
}

.komen button {
  margin-left: 5%;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: black;
  color: white;
  border: none;
  height: 40px;
}

.komen button:hover {
  background-color: rgb(0, 204, 0);
  color: black;
}

.lainnya p {
  margin-left: 5%;
}

.more1 {
  position: absolute;
  width: 260px;
  margin-left: 20px;
  padding-bottom: 20px;
  font-size: 20px;
}

.more1 a{
  color: black;
}

.more1 a:hover {
  color: grey;
}

.more1 img {
  width: 100%;
}

.more2 {
  position: absolute;
  width: 260px;
  margin-left: 300px;
  padding-bottom: 20px;
  font-size: 20px;
}

.more2 a{
  color: black;
}

.more2 a:hover {
  color: grey;
}

.more2 img {
  width: 100%;
}

.more3 {
  position: relative;
  width: 260px;
  margin-left: 580px;
  padding-bottom: 20px;
  font-size: 20px;
}

.more3 a{
  color: black;
}

.more3 a:hover {
  color: grey;
}

.more3 img {
  width: 100%;
}







.footer {
  width: 70%;
  margin: 0 auto;
}

.logocr img {
  float: left;
  width: 25px;
  padding: 2px;
}

.copyright {
  width: 100%;
  height: 30px;
  background-color: grey;
}

.textcopy {
  float: left;
  padding-top: 5px;
}

.about li {
  float: right;
}

.about ul li {
  display: inline-block;
  margin-right: 10px;
  padding-top: 5px;
}

.about li a {
  color: white;
  padding: 5px;
  text-decoration: none;
}

.about li a:hover {
  color: black;
}