body {
  background-image: url(mejasendok.jpg);
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.bodycontainer {
  width: 80%;
  height: 100%;
  margin-top: 0;
  margin: 0 auto;
}

.navbar {
  width: 80%;
  margin: 0 auto;
  height: 80px;
  background-color: rgb(255,69,0);
}

.navbar .logo {
  width: 200px;
  position: relative;
}

.navbar .logo img {
  padding-top: 20px;
  margin-left: -20px;
  height: 45px;
}

.logo ul li {
  display: inline-block;
}



.isinav {
  width: 80%;
  position: relative;
  height: 50px;
  margin-top: -70px;
  margin-left: 130px;
}

.isinav ul li {
  display: inline-block;
  margin-left: -5px;
}

.isinav button {
  background-color: rgb(255,69,0);
  font-family: sans-serif, Arial;
  font-size: 15px;
  color: black;
  border: none;
  width: 150px;
  height: 50px;
}

.isinav button:hover {
  background-color: rgb(255, 163, 102);
}

.masuk {
  position: relative;
  margin-left: 80.2%;
  margin-top: -50px;
  height: 50px;
  width: 100px;
}

.masuk button {
  background-color: rgb(255,69,0);
  font-family: sans-serif, Arial;
  font-size: 15px;
  color: black;
  border: none;
  width: 100px;
  height: 50px;
}

.masuk button:hover {
  background-color: rgb(255, 163, 102);
}

.daftar {
  position: relative;
  margin-left: 90.2%;
  margin-top: -50px;
  height: 50px;
  width: 100px;
}

.daftar button {
  background-color: rgb(255,69,0);
  font-family: sans-serif, Arial;
  font-size: 15px;
  color: black;
  border: none;
  width: 100px;
  height: 50px;
}

.daftar button:hover {
  background-color: rgb(255, 163, 102);
}






.container {
  background-color: rgba(255,140,0,0.8);
}

.container h2 {
  margin-left: 3%;
  padding-top: 20px;
}

#date {
  margin-left: 3%;
  font-size: 100%;
}

.gambarutama {
  width: 300px;
  margin: 0 auto;
}

.content {
  background-color: orange;
  border-radius: 20px;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.content p {
  text-indent: 0.5in;
  text-align: justify;
}

.content ol p {
  text-indent: 0.5in;
  text-align: justify;
}

.komen {
  width: 100%;
}

.komen form {
  margin-left: 5%;
}

.komen input {
  width: 49.5%;
}

.komen textarea {
  width: 50%;
  font-size: 15px;
  font-family: serif;
  padding-left: 10px;
  padding-top: 10px;
}

.komen button {
  margin-left: 5%;
  margin-top: 10px;
  margin-bottom: 20px;
  border: none;
  height: 40px;
}

.komen button:hover {
  background-color: rgb(0, 204, 0);
  color: black;
}

.lainnya p {
  margin-left: 5%;
}

.more1 {
  position: absolute;
  width: 260px;
  margin-left: 50px;
  padding-bottom: 20px;
  font-size: 20px;
}

.more1 a{
  color: black;
}

.more1 a:hover {
  opacity: 0.7;
}

.more1 img {
  width: 100%;
}

.more2 {
  position: absolute;
  width: 260px;
  margin-left: 330px;
  padding-bottom: 20px;
  font-size: 20px;
}

.more2 a{
  color: black;
}

.more2 a:hover {
  opacity: 0.7;
}

.more2 img {
  width: 100%;
}

.more3 {
  position: relative;
  width: 260px;
  margin-left: 610px;
  padding-bottom: 20px;
  font-size: 20px;
}

.more3 a{
  color: black;
}

.more3 a:hover {
  opacity: 0.7;
}

.more3 img {
  width: 100%;
}







.footer {
  padding-top: 20px;
  width: 80%;
  margin: 0 auto;
}

.logocr img {
  float: left;
  width: 40px;
  padding-top: 5px;
}

.copyright {
  width: 100%;
  height: 50px;
  background-color: grey;
}

.textcopy {
  width: 400px;
  margin-left: 50px;
  padding-top: 15px;
}

.about {
  position: relative;
  height: 50px;
  width: 100px;
  float: right;
  margin-top: -34px;
  margin-right: 10px;
}

.about button {
  height: 100%;
  width: 100%;
  border: none;
  background-color: grey;
  color: white;
  font-size: 15px;
  font-family: sans-serif, Arial;
}

.about button:hover {
  background-color: rgb(255, 163, 102);
  color: black;
}