body {
  background-image: url(mejasendok.jpg);
  background-attachment: scroll;
  background-position: left;
  background-repeat: no-repeat;
}

.bodycontainer {
  background-color: rgba(255,140,0,0.9);
  width: 80%;
  margin-top: 10px;
  margin: 0 auto;
}



.header {
  height: 300px;
  width: 80%;
  margin: 0 auto;
  background-color: rgba(255, 133, 51, 0.9);
}

.header .logo {
  position: relative;
  width: 300px;
  height: 30%;
  margin: 0 auto;
  padding-top: 100px;
}

.header img {
  padding-left: 3px;
  height: 100%;
}





.navbar {
  width: 80%;
  height: 50px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 10px;
  background-color: rgb(255,69,0);
}

.isinav {
  width: 80%;
  position: relative;
  height: 50px;
  margin-top: -90px;
  margin-left: -35px;
}

.isinav ul li {
  display: inline-block;
  margin-left: -5px;
}

.isinav button {
  background-color: rgb(255,69,0);
  font-family: sans-serif, Arial;
  font-size: 15px;
  color: black;
  border: none;
  width: 150px;
  height: 50px;
}

.isinav button:hover {
  background-color: rgb(255, 163, 102);
}

.masuk {
  position: relative;
  margin-left: 80.2%;
  margin-top: -50px;
  height: 50px;
  width: 100px;
}

.masuk button {
  background-color: rgb(255,69,0);
  font-family: sans-serif, Arial;
  font-size: 15px;
  color: black;
  border: none;
  width: 100px;
  height: 50px;
}

.masuk button:hover {
  background-color: rgb(255, 163, 102);
}

.daftar {
  position: relative;
  margin-left: 90.2%;
  margin-top: -50px;
  height: 50px;
  width: 100px;
}

.daftar button {
  background-color: rgb(255,69,0);
  font-family: sans-serif, Arial;
  font-size: 15px;
  color: black;
  border: none;
  width: 100px;
  height: 50px;
}

.daftar button:hover {
  background-color: rgb(255, 163, 102);
}







.mint {
  width: 200px;
  margin: 0 auto;
  padding-top: 40px;
}

.mint img {
  box-shadow: 10px 8px 50px;
  width: 200px;
  border-radius: 100%;
}

.penjelasan {
  width: 50%;
  padding-top: 20px;
  margin: 0 auto;
}

#definisi {
  font-family: sans-serif, Arial;
  font-size: 15px;
}

.cari {
  width: 400px;
  padding-top: 40px;
  margin-left: 25%;
}

.cari input {
  padding-left: 20px;
  width: 400px;
  height: 60px;
  font-size: 25px;
  background-color: rgba(255,255,255,0.5);
  border: none;
}

.buttoncari {
  position: relative;
  float: right;
  margin-right: 260px;
  margin-top: -60px;
  height: 60px;
}

.buttoncari button {
  height: 60px;
  width: 80px;
  font-size: 25px;
  background-color: rgb(0, 204, 0);
  border-style: none;
}

.buttoncari button:hover {
  background-color: green;
}

.iconnavbar {
  width: 70%;
  height: 200px;
  margin: 0 auto;
  margin-top: 90px;
  margin-bottom: 100px;
}

.iconnavbar ul li {
  display: inline-block;
}

.iconnavbar button {
  background-color: rgb(255,69,0);
  margin: 20px;
  width: 250px;
  height: 80px;
  font-size: 25px;
  border: none;
}

.iconnavbar button:hover {
  box-shadow: 10px 10px 50px rgb(255,69,0);
  position: relative;
  height: 100px;
  width: 270px;
  background-color: rgb(255, 163, 102);
}


.kenapa {
  padding-top: 100px;
  width: 80%;
  margin: 0 auto;
}

.kenapa p {
  font-family: Arial Black, Arial;
  font-size: 50px;
}

.satu {
  position: relative;
  text-align: center;
  background-color: rgb(255, 204, 0);
  font-size: 25px;
  font-family: sans-serif, Arial;
  margin-left: 50px;
  margin-top: -300px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.satudef {
  position: relative;
  padding: 20px;
  border-radius: 30px;
  background-color: rgb(255, 179, 102);
  position: relative;                           
  margin-left: 80px;
  width: 65%;
  font-family: sans-serif, Arial;
  text-align: justify;
}

.dua {
  position: relative;
  text-align: center;
  background-color: rgb(255, 204, 0);
  font-size: 25px;
  font-family: sans-serif, Arial;
  margin-left: 50px;
  margin-top: -260px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.duadef {
  padding: 20px;
  margin-top: 300px;
  border-radius: 30px;
  background-color: rgb(255, 179, 102);
  position: relative;                           
  margin-left: 80px;
  width: 65%;
  font-family: sans-serif, Arial;
  text-align: justify;
}

.tiga {
  position: relative;
  text-align: center;
  background-color: rgb(255, 204, 0);
  font-size: 25px;
  font-family: sans-serif, Arial;
  margin-left: 50px;
  margin-top: -300px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.tigadef {
  padding: 20px;
  margin-top: 250px;
  border-radius: 30px;
  background-color: rgb(255, 179, 102);
  position: relative;                           
  margin-left: 80px;
  width: 65%;
  font-family: sans-serif, Arial;
  text-align: justify;
}

.empat {
  position: relative;
  text-align: center;
  background-color: rgb(255, 204, 0);
  font-size: 25px;
  font-family: sans-serif, Arial;
  margin-left: 50px;
  margin-top: -370px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.empatdef {
  padding: 20px;
  margin-top: 280px;
  border-radius: 30px;
  background-color: rgb(255, 179, 102);
  position: relative;                           
  margin-left: 80px;
  width: 65%;
  font-family: sans-serif, Arial;
  text-align: justify;
}






.bawah {
  position: relative;
  margin-top: 350px;
  width: 100%;
}

.bawah img {
  width: 100%;
}



.footer {
  padding-top: 20px;
  width: 80%;
  margin: 0 auto;
}

.logocr img {
  float: left;
  width: 40px;
  padding-top: 5px;
}

.copyright {
  width: 100%;
  height: 50px;
  background-color: grey;
}

.textcopy {
  width: 400px;
  margin-left: 50px;
  padding-top: 15px;
}

.about {
  position: relative;
  height: 50px;
  width: 100px;
  float: right;
  margin-top: -34px;
  margin-right: 10px;
}

.about button {
  height: 100%;
  width: 100%;
  border: none;
  background-color: grey;
  color: white;
  font-size: 15px;
  font-family: sans-serif, Arial;
}

.about button:hover {
  background-color: rgb(255, 163, 102);
  color: black;
}