body {
  background-image: url(mejasendok.jpg);
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.bodycontainer {
  width: 70%;
  height: 100%;
  margin-top: 0;
  margin: 0 auto;
}

.navbar {
  width: 80%;
  margin: 0 auto;
  height: 80px;
  background-color: rgb(255,69,0);
}

.navbar .logo {
  width: 200px;
  position: relative;
}

.navbar .logo img {
  padding-top: 20px;
  margin-left: -20px;
  height: 45px;
}

.logo ul li {
  display: inline-block;
}



.isinav {
  width: 80%;
  position: relative;
  height: 50px;
  margin-top: -70px;
  margin-left: 130px;
}

.isinav ul li {
  display: inline-block;
  margin-left: -5px;
}

.isinav button {
  background-color: rgb(255,69,0);
  font-family: sans-serif, Arial;
  font-size: 15px;
  color: black;
  border: none;
  width: 150px;
  height: 50px;
}

.isinav button:hover {
  background-color: rgb(255, 163, 102);
}

.masuk {
  position: relative;
  margin-left: 80.2%;
  margin-top: -50px;
  height: 50px;
  width: 100px;
}

.masuk button {
  background-color: rgb(255,69,0);
  font-family: sans-serif, Arial;
  font-size: 15px;
  color: black;
  border: none;
  width: 100px;
  height: 50px;
}

.masuk button:hover {
  background-color: rgb(255, 163, 102);
}

.daftar {
  position: relative;
  margin-left: 90.2%;
  margin-top: -50px;
  height: 50px;
  width: 100px;
}

.daftar button {
  background-color: rgb(255,69,0);
  font-family: sans-serif, Arial;
  font-size: 15px;
  color: black;
  border: none;
  width: 100px;
  height: 50px;
}

.daftar button:hover {
  background-color: rgb(255, 163, 102);
}



.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 30px;
  background-color: rgba(255,140,0,0.8);
}

.containerlagi {
  width: 95%;
  margin: 0 auto;
}

.containerlagi h1 {
  font-family: sans-serif, Arial;
  padding-top: 20px;
}

.containerlagi img {
  margin-top: 20px;
  margin-left: 10px;
  width: 300px;
}





.daunkelor {
  background-color: rgb(255,140,0);
  padding-bottom: 20px;
}






.serai {
  background-color: rgb(255,140,0);
  padding-bottom: 20px;
}

.serai img {
  width: 200px;
}

.singkatserai {
  position: relative;
  margin-left: 250px;
  margin-top: -210px;
  padding-bottom: 10px;
  width: 55%;
  text-align: justify;
}

.singkatserai h3 a {
  color: black;
  font-size: 20px;
}

.singkatserai h3 a:hover {
  color: black;
  opacity: 0.7;
}

.singkatserai p {
  font-size: 13px; 
}

.singkatserai a {
  font-size: 14px;
  color: blue;
}

.singkatserai a:hover {
  color: white;
}







.sirih {
  margin-top: 20px;
  background-color: rgb(255,140,0);
  padding-bottom: 20px;
}

.sirih img {
  width: 200px;
}

.singkatsirih {
  position: relative;
  margin-left: 250px;
  margin-top: -210px;
  padding-bottom: 10px;
  width: 55%;
  text-align: justify;
}

.singkatsirih h3 a {
  color: black;
  font-size: 20px;
}

.singkatsirih h3 a:hover {
  color: black;
  opacity: 0.7;
}

.singkatsirih p {
  font-size: 13px; 
}

.singkatsirih a {
  font-size: 14px;
  color: blue;
}

.singkatsirih a:hover {
  color: white;
}





.footer {
  padding-top: 20px;
  width: 80%;
  margin: 0 auto;
}

.logocr img {
  float: left;
  width: 40px;
  padding-top: 5px;
}

.copyright {
  width: 100%;
  height: 50px;
  background-color: grey;
}

.textcopy {
  width: 400px;
  margin-left: 50px;
  padding-top: 15px;
}

.about {
  position: relative;
  height: 50px;
  width: 100px;
  float: right;
  margin-top: -34px;
  margin-right: 10px;
}

.about button {
  height: 100%;
  width: 100%;
  border: none;
  background-color: grey;
  color: white;
  font-size: 15px;
  font-family: sans-serif, Arial;
}

.about button:hover {
  background-color: rgb(255, 163, 102);
  color: black;
}